* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chooseGameType .choice {
  border: 1px solid black;
  padding: 10px;
  margin: 30px 0;
  cursor: pointer;
}

.chooseGameType .choice:hover {
  background-color: lightgray;
}
