.game * {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game h1 {
  text-align: center;
  margin: 2rem;
}

.game .boards h3 {
  text-align: center;
  margin: 1rem;
  user-select: none;
}

.game .boards {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.game .board {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.game .board {
  flex: 0 1 400px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.game .cell {
  flex: 0 0 40px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.computer.board .cell:hover {
  border: 1px solid darkorange;
  cursor: pointer;
  user-select: none;
}

.player1.board .cell:hover {
  border: 1px solid darkorange;
  cursor: pointer;
  user-select: none;
}

.player2.board .cell:hover {
  border: 1px solid darkorange;
  cursor: pointer;
  user-select: none;
}

.turns {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
