* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.place-player-ships {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.place-player-ships button {
  align-self: center;
}

h1 {
  text-align: center;
  margin: 2rem;
}

.boards h3 {
  text-align: center;
  margin: 1rem;
  user-select: none;
}

.boards {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.board {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.player.board,
.computer.board,
.placeShip.board {
  flex: 0 1 400px;
  border-top: 1px solid black;
  border-left: 1px solid black;

  user-select: none;
}

dialog {
  text-align: center;
  background-color: ghostwhite;
  margin: auto;
  border: none;
  outline: none;
  padding: 50px;
}

.cell {
  flex: 0 0 40px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.greenColor {
  background-color: green;
}

.definitelyPlaced {
  background-color: darkgreen;
}
